//
//  Dev.xcconfig
//  med_tech
//
//  Created by Saransh Singhal on 11/8/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2h6dHVnZ3l6dm1pbGdlYXhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3MTIzMjAsImV4cCI6MjA3MjI4ODMyMH0.GTqRQrBn1QnfOKgONQQv5lapN-1QO4ngrZxn2X8b3a4
SUPABASE_INIT_URL = https://ojghztuggyzvmilgeaxn.supabase.co


